<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/index}">
    <head>
        <meta charset="UTF-8">
    </head>
	<body>
		<!--  Start code -->
		<div layout:fragment="containerFragment">
	        <table id="example" class="table table-bordered table-striped" style="contain-intrinsic-size: 50%;" >
	            <thead>
		            <th>
                        <a class="btn btn-primary" th:href="@{'/' + ${path} + '/register'}">
		                     <i class="bi bi-file-earmark-plus"></i>
                       </a>
                     </th>
                     <tr>

                        <th scope="col" th:text="codigo">
                        </th>

                        <th scope="col" th:text="modelo">
                        </th>

                        <th scope="col" th:text="capacidad">
                        </th>

                        <th scope="col"></th>

                        <th scope="col"></th>

                    </tr>

                </thead>

                <tbody>

                    <tr  th:each="obj : ${listObject}">

                        <td th:text="${obj.codigo}">
                        </td>

                        <td th:text="${obj.modelo}">
                        </td>

                        <td th:text="${obj.capacidad}">
                        </td>
                        <td><a th:href="@{'/'+ ${path} + '/update/' + ${obj.id}}"
                        	class="btn btn-success"> <i class="bi bi-pencil-square"></i>
                        </a></td>
                        <td><a th:href="@{'/' + ${path} + '/delete/'+ ${obj.id}}"
                               th:onclick="return confirm('Esta seguro de eliminar el registro')"
                        	    class="btn btn-danger"> <i class="bi bi-trash-fill"></i>
                        </a></td>

                    </tr>
   
   		 	    </tbody>
            </table>

  		</div>
   		<!--  End code -->
  	</body>
</html>
